@import "tailwindcss";

@theme {
  --font-sans: InterVariable, sans-serif;
  --font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

.shadow-aura-hover {
  /* Define the default shadow */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease-out;
}

li {
  list-style-type: disc;
}
